<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> <ion-back-button></ion-back-button> </ion-buttons>
    <ion-title>{{currentEvent?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-content>
      <p>Description: <strong>${{currentEvent?.description}}</strong></p>
      <p>Date: <strong>{{currentEvent?.date}}</strong></p>
    </ion-card-content>
  </ion-card>

     <ion-col size="4">
        <ion-button (click)="takePicture()">
          <ion-icon slot="icon-only" name="camera"></ion-icon>
        </ion-button>
      </ion-col>

    <span *ngIf="picture">Picture taken!</span>

</ion-content>