<ion-header>
  <ion-toolbar>
    <ion-title>
      About this Event Manager
    </ion-title>
 	 <ion-buttons slot="end">
      <ion-button href="https://github.com/Suhlow/event-manager">
        <ion-icon slot="icon-only" name="logo-github"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <p> Here you can manage your events : </p>
    	<ul>
    		<li> - Create events : tell your friends what you're going to do and invite them to join you !</li>
    		<li> - Join events : check all the events around you to see if anything appeals to you. </li>
    	</ul>
     <p> Please sign up to start your event-managing journey </p>
  </div>


<ion-button expand="block" color="primary" routerLink="/login"routerLinkActive="active">
  Login
</ion-button>

<ion-button expand="block" color="primary" routerLink="/signup"routerLinkActive="active">
  Sign-up
</ion-button>

<ion-button expand="block" color="secondary" routerLink="/reset-password" routerLinkActive="active">
  I forgot my password 🙁
</ion-button>


</ion-content>
