<ion-header>
  <ion-toolbar>
    <ion-title>
      Welcome to your event manager
    </ion-title>
 	<ion-buttons slot="end">
      <ion-button routerLink="/about">
        <ion-icon slot="icon-only" name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    Please login to access your events and profile.
    <p>If you don't have an account yet, please sign up.</p>
  </div>


<ion-button expand="block" color="primary" routerLink="/login"routerLinkActive="active">
  Login
</ion-button>

<ion-button expand="block" color="primary" routerLink="/signup"routerLinkActive="active">
  Sign-up
</ion-button>

<ion-button expand="block" color="secondary" routerLink="/reset-password" routerLinkActive="active">
  I forgot my password 🙁
</ion-button>

</ion-content>
