<ion-header>
  <ion-toolbar>
    <ion-title>
      EVENT MANAGER
    </ion-title>
 	<ion-buttons slot="end">
      <ion-button routerLink="/profile">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    We're please to see you again ! 
    What can we do for you today?

  <ion-button expand="block" fill="clear" routerLink="/event-create" routerLinkActive="active">
  I want to create an event
</ion-button>

<ion-button expand="block" fill="clear" routerLink="/event-list" routerLinkActive="active">
  I want to see all events
</ion-button>

<ion-button expand="block" fill="clear" (click)="logOut()" routerLinkActive="active">
  Log me out please
</ion-button>

